<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<title>맛집리스트</title>
	
	<link rel="stylesheet" type="text/css" href="/css/searchList.css">
	<!-- 사용자 CSS 추가 -->
	<th:block layout:fragment="css">
	</th:block>
	
</head>
<body>
	<div class="content" layout:fragment="content">
		<h1>맛집 검색</h1>
			<table>
				<thead>
				<tr>
					<th style="text-align: center">가게명</th>
					<th style="text-align: center">가게정보</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="place : ${places}">
					<td>
						<p th:text="${place.placeName}" th:id="'placeName-' + ${place.id}" style="font-size: 25px;">Place Name</p>
					</td>
					<td>
						<h5>주소명</h5> <p th:text="${place.roadAddressName}">Road Address Nam</p>
						<h5>전화번호</h5> <p th:text="${place.phone}">Phone</p>
						<h5>홈페이지</h5> <a th:href="${place.placeUrl}" th:text="${place.placeUrl}"></a>
					</td>
				</tr>
				</tbody>
			</table>
		
		<script type="text/javascript">
			// JavaScript 코드
			const modal = document.getElementById("myModal");
			const reservationBtns = document.querySelectorAll(".reservation");
			const selectedPlaceName = document.getElementById("selectedPlaceName");
			const confirmBtn = document.getElementById("confirmBtn");
			const cancelBtn = document.getElementById("cancelBtn");
			
			function showModal(placeId) {
				const placeName = document.getElementById(`placeName-${placeId}`).textContent;
				selectedPlaceName.textContent = placeName;
				modal.style.display = "block";
			}
			
			function onConfirm() {
				const nextUrl = "/api/reservation";
				window.location.replace(nextUrl);
				closeModal();
			}
			
			function closeModal() {
				modal.style.display = "none";
			}
			
			confirmBtn.addEventListener("click", onConfirm);
			cancelBtn.addEventListener("click", closeModal);
			
			reservationBtns.forEach((reservationBtn) => {
				const placeId = reservationBtn.dataset.placeid;
				reservationBtn.addEventListener("click", () => {
					showModal(placeId);
				});
				
				const mapsBtn = reservationBtn.nextElementSibling;
				mapsBtn.addEventListener("click", () => {
					const url = `/maps/reservation?placeId=${placeId}`;
					window.location.href = url;
				});
				
				function setCookie(name, value, days) {
					const expires = new Date();
					expires.setTime(expires.getTime() + days * 24 * 60 * 60 * 1000);
					document.cookie = `${name}=${encodeURIComponent(value)};expires=${expires.toUTCString()};path=/`;
				}
				
				const selectedPlaceName = document.getElementById("selectedPlaceName").textContent;
				setCookie("selectedPlaceName", selectedPlaceName, 1); // 1일간 쿠키 유지
				
				function goToMaps(placeId) {
					const url = `/maps?placeId=${placeId}`;
					window.location.href = url;
				}
			});
		</script>
	</div>
</body>
</html>