<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<title>자유게시판</title>
	
	<!-- 사용자 스크립트 추가 -->
	<th:block layout:fragment="script">
		<script th:inline="javascript">
		</script>
	</th:block>
</head>
<body>
	<div layout:fragment="content">
		<h2>공지사항</h2>
		<table class="table table-bordered">
			<!-- CONTENTS !-->
			<thead>
			<tr>
				<th class="col-md-1">번호</th>
				<th class="col-md-4">글제목</th>
				<th class="col-md-3">작성자</th>
				<th class="col-md-2">작성일</th>
				<th class="col-md-2">수정일</th>
			</tr>
			</thead>
			
			<tbody>
			<!-- CONTENTS !-->
			<tr th:each="board : ${boardList}">
				<td th:text="${board.id}"></td>
				<td><a th:href="'/board/post/'+${board.id}" th:text="${board.title}"></a></td>
				<td th:text="${board.writer}"></td>
				<td th:text="${board.createdDate} ? ${#temporals.format(board.createdDate,'yyyy-MM-dd HH:mm')} : ${board.createdDate}"></td>
				<td th:text="${board.modifiedDate} ? ${#temporals.format(board.modifiedDate,'yyyy-MM-dd HH:mm')} : ${board.modifiedDate}"></td>
			</tr>
			</tbody>
		</table>
		<!-- Pagination -->
		<div style="margin: 10px">
	              <span th:each="pageNum : ${pageList}" th:inline="text">
	                  <a th:href="@{'/board/list/?page=' + ${pageNum}}">[[${pageNum}]]</a>
	              </span>
			<!-- 글쓰기 버튼 -->
			<a style="float: right" class="btn btn-primary" th:href="@{/board/post}">글쓰기</a>
		</div>
		
		<!-- 검색 form -->
		<form action="/board/search" method="GET">
			<div>
				<input name="keyword" type="text" placeholder="검색어를 입력해주세요.">
				<button class="btn btn-primary">검색하기</button>
			</div>
		
		</form>
	</div>
</body>
</html>